* {
  background: gray;
}
.main {
  display: flex;
}
.floyd img,
.floyd1 img {
  width: 500px;
  height: 500px;
}
.floyd {
  margin: 40px;
}
.text,
.text1 {
  padding: 20px;
}
.text p {
  font-size: 30px;
  color: rgb(255, 251, 0);
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  line-height: 50px;
text-decoration: overline;
}
.text1 p {
  font-size: 30px;
  color: darkred;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  line-height: 50px;
  text-align: left;
  text-decoration: underline;
}
.main2 {
  display: flex;
  justify-content: space-between;
}
.cube {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
#cube1 {
  background-color: chartreuse;
}
#cube2 {
  background-color: aqua;
}
#cube3 {
  background-color: brown;
}
#cube4 {
  background-color: black;
}
#cube5 {
  background-color: indigo;
}
#cube6 {
  background-color: fuchsia;
}
#cube7 {
  background-color: greenyellow;
}
#cube8 {
  background-color: red;
}
.cube5,.cube6,.cube7,.cube8{
    margin-bottom: 50px;
}
